.quiz{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.questions {
    width: 80%;
    background: linear-gradient(#100241, black);
    border: 2px solid white;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    font-size: 25px;
}

.answers{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
}

.answer{
    width: 40%;
    padding: 10px;
    background: linear-gradient(#0e120e, #22074d);
    border: 1px solid white;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    justify-content: center;
    font-weight: 500;
    cursor: pointer;
    margin: 0 10px 20px 10px;
}

.answer:hover, 
.answer.active {
    background: mediumblue;
}

/* CORRECT ANSWER*/
.answer.correct{
    animation: correct 3s ease forwards;
}

@keyframes correct {
    0%,
    22%,
    42%,
    50%{
        background: mediumblue;
    }

    20%,
    40%,
    60%,
    70% {
        background: linear-gradient(#0e0124, #22074d);
    }

    62%,
    100%{
        background: green; 
    }
}

/* WRONG ANSWER*/
.answer.wrong{
    animation: wrong 3s ease forwards;
}

@keyframes wrong {
    0%,
    22%,
    42% {
        background: mediumblue;
    }

    20%,
    40%,
    60% {
        background: linear-gradient(#0e0124, #22074d);
    }

    62%,
    100%{
        background: crimson; 
    }
}